<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <div class="wrapper">
    <header>
      <h1>
        <a href="/">💻 Tech Blog</a>
      </h1>
      {{!-- <img style="width: 60px;" src="https://thumbs.gfycat.com/MadFlawedHarvestmen-max-1mb.gif" alt="PC gif"> --}}
      <nav>
        {{#if loggedIn}}
        <div class="lgBtn">
          <a href="/dashboard">Add New</a>
          <button id="logout" class="btn-no-style">Logout</button>
        </div>
        {{else}}
        <div style="padding: 10px; padding-top: 14px;">
          <a href="/login">Login</a>
        </div>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting! Check <a href="https://github.com/Seifenan" target="_blank">GitHub</a> for more of my
      projects😊
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>