<h2 style="text-align: center; padding-top: 90px;">All Posts</h2>
<ol class="inBody" style="padding-top: 50px;">
  {{#each posts as |post|}}
  <li class="inBody">
    {{> post-info post }}
  </li>
  {{/each}}
</ol>