* {
  box-sizing: border-box;
}

:root {
  --lightBlue: #6a9eff;
  --darkBlue: #0415b1;
  --red: #7B0000;
  --footer: #041929;
  --shadow: #7c7c7c;

}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: var(--darkBlue);
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: var(--lightBlue);
}

header a {
  color: white;
}

button {
  background-color: var(--darkBlue);
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

button:hover {
  background-color: var(--lightBlue);
}

textarea, input {
  padding: 1%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 96%;
  margin-left: 2%;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--footer);
  padding: 20px;
  box-shadow: 0px 10px 30px 10px var(--shadow);
  position: fixed; 
  width: 96%;
}

header h1 {
  font-size: 1em;
  padding-left: 10px;
}

main {
  flex: 1;
  padding: 2% 4%;
}

#createPost {
  padding-top: 100px;
}

.inBody {
  /* text-align: center; */
  /* background-color: var(--lightBlue); */
  border-radius: 20px;
  box-shadow: 7px 15px 30px var(--shadow);
  padding-bottom: 10px;
  margin-bottom: 45px;
}

.nPost {
  color: white;
  background-color: var(--lightBlue);
  padding: 10px;
}

.hide {
  display: none;
}

.login-form,
.signup-form {
  text-align: center;
  padding: 10px;
  padding-top: 40px;
  margin: 30px;
  box-shadow: 0px 0px 50px 20px var(--shadow);
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  line-height: 150%;
  margin-bottom: 5px;

}

li {
  margin-right: 40px;
  padding: 20px;
}

li:hover {
  box-shadow: 0px 0px 20px 5px var(--shadow);
}

li:nth-child(odd) {
  background-color: beige;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: beige;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input,
.edit-post-form input {
  width: 60%;
}

#content {
  height: 60px;
}

footer {
  padding: 20px;
  color: white;
  background-color: var(--footer);
  box-shadow: 0px 10px 30px 10px var(--shadow);
  text-align: center;
}

footer a {
  color: var(--lightBlue);
}